body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1896px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:731px;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:1485px;
  top:0px;
  width:411px;
  height:731px;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:358px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:1478px;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:1478px;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:731px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:732px;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:0px;
  width:411px;
  height:732px;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:358px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:731px;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:0px;
  width:411px;
  height:731px;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:358px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:1401px;
  width:143px;
  height:87px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:545px;
  width:343px;
  height:110px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:47px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:1438px;
  width:0px;
  height:0px;
}
#u463_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:158px;
  height:8px;
}
#u463_seg1 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:-776px;
  width:8px;
  height:780px;
}
#u463_seg2 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:-781px;
  width:20px;
  height:20px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:-319px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
