body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:516px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:918px;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:918px;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:451px;
  width:512px;
  visibility:hidden;
  word-wrap:break-word;
}
