body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1085px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1085px;
  height:59px;
  background:inherit;
  background-color:rgba(39, 155, 208, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4022 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1085px;
  height:59px;
}
#u4023 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:1081px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u4024 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:12px;
  width:101px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u4025 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u4026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u4026 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:19px;
  width:91px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u4027 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u4028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4028 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:18px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4029 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4030 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:211px;
  width:787px;
  height:185px;
}
#u4031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:26px;
}
#u4031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u4032 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u4033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:26px;
}
#u4033 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:0px;
  width:228px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u4034 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:224px;
  word-wrap:break-word;
}
#u4035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:26px;
}
#u4035 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:0px;
  width:97px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u4036 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:93px;
  word-wrap:break-word;
}
#u4037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:26px;
}
#u4037 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:0px;
  width:116px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u4038 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  word-wrap:break-word;
}
#u4039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:26px;
}
#u4039 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:0px;
  width:124px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u4040 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  word-wrap:break-word;
}
#u4041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:26px;
}
#u4041 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:0px;
  width:162px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u4042 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:158px;
  word-wrap:break-word;
}
#u4043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:94px;
}
#u4043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:26px;
  width:55px;
  height:94px;
}
#u4044 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:51px;
  word-wrap:break-word;
}
#u4045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:94px;
}
#u4045 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:26px;
  width:228px;
  height:94px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
  text-align:left;
}
#u4046 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:224px;
  word-wrap:break-word;
}
#u4045_ann {
  border-width:0px;
  position:absolute;
  left:269px;
  top:26px;
  width:1px;
  height:1px;
}
#u4047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:94px;
}
#u4047 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:26px;
  width:97px;
  height:94px;
}
#u4048 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:93px;
  word-wrap:break-word;
}
#u4049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:94px;
}
#u4049 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:26px;
  width:116px;
  height:94px;
}
#u4050 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:112px;
  word-wrap:break-word;
}
#u4051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:94px;
}
#u4051 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:26px;
  width:124px;
  height:94px;
}
#u4052 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:120px;
  word-wrap:break-word;
}
#u4053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:94px;
}
#u4053 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:26px;
  width:162px;
  height:94px;
}
#u4054 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:30px;
}
#u4055 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:55px;
  height:30px;
}
#u4056 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:51px;
  word-wrap:break-word;
}
#u4057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:30px;
}
#u4057 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:120px;
  width:228px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
  text-align:left;
}
#u4058 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:224px;
  word-wrap:break-word;
}
#u4059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u4059 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:120px;
  width:97px;
  height:30px;
}
#u4060 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u4061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u4061 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:120px;
  width:116px;
  height:30px;
}
#u4062 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u4063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u4063 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:120px;
  width:124px;
  height:30px;
}
#u4064 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u4065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u4065 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:120px;
  width:162px;
  height:30px;
}
#u4066 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:30px;
}
#u4067 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:55px;
  height:30px;
}
#u4068 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:51px;
  word-wrap:break-word;
}
#u4069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:30px;
}
#u4069 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:150px;
  width:228px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
  text-align:left;
}
#u4070 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:224px;
  word-wrap:break-word;
}
#u4071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u4071 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:150px;
  width:97px;
  height:30px;
}
#u4072 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u4073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u4073 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:150px;
  width:116px;
  height:30px;
}
#u4074 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u4075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u4075 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:150px;
  width:124px;
  height:30px;
}
#u4076 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u4077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u4077 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:150px;
  width:162px;
  height:30px;
}
#u4078 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4080_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4080 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:437px;
  width:51px;
  height:20px;
  color:#999999;
}
#u4081 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u4082_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4082 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:437px;
  width:89px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4083 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u4084_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4084 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:432px;
  width:30px;
  height:30px;
  color:#999999;
}
#u4085 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u4086_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4086 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:432px;
  width:30px;
  height:30px;
  color:#999999;
}
#u4087 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u4088_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(39, 155, 208, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4088 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:432px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u4089 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u4090_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4090 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:432px;
  width:30px;
  height:30px;
  color:#999999;
}
#u4091 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u4092_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4092 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:432px;
  width:30px;
  height:30px;
  color:#999999;
}
#u4093 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u4094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4094 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:84px;
  width:57px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4095 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4096 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:137px;
  width:57px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4097 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:856px;
  height:2px;
}
#u4098 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:114px;
  width:855px;
  height:1px;
}
#u4099 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:851px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4100 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:132px;
  width:107px;
  height:28px;
}
#u4100_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4100_input {
  font-family:'Microsoft YaHei';
}
#u4101 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:132px;
  width:107px;
  height:28px;
}
#u4101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4101_input {
  font-family:'Microsoft YaHei';
}
#u4102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4102 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:136px;
  width:15px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u4104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4104 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:137px;
  width:57px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4106 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:132px;
  width:167px;
  height:28px;
}
#u4106_input {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4106_input {
  font-family:'Microsoft YaHei';
}
#u4107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4107 {
  border-width:0px;
  position:absolute;
  left:767px;
  top:129px;
  width:78px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4108 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  word-wrap:break-word;
}
#u4109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
}
#u4109 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:281px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
}
#u4110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4109_ann {
  border-width:0px;
  position:absolute;
  left:774px;
  top:277px;
  width:1px;
  height:1px;
}
#u4111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
}
#u4111 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:335px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
}
#u4112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
}
#u4113 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:365px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
}
#u4114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
