body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:473px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:842px;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:842px;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:413px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
