body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:890px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:1658px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:186px;
  width:890px;
  height:1658px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:821px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
