body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:839px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:711px;
}
#u1340 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:0px;
  width:400px;
  height:711px;
}
#u1341 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:348px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:711px;
}
#u1342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:711px;
}
#u1343 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:348px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
