body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:2008px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:1297px;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:411px;
  height:1297px;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:640px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:976px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:1597px;
  top:-32px;
  width:411px;
  height:976px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:480px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:731px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:1px;
  width:411px;
  height:731px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:358px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:731px;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:0px;
  width:411px;
  height:731px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:358px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
