body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:928px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:928px;
  height:289px;
}
#u5364 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:117px;
  width:928px;
  height:289px;
}
#u5365 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:136px;
  width:924px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5366 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:35px;
  width:168px;
  height:41px;
}
#u5366_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:41px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5366_input {
  font-family:'Microsoft YaHei';
}
#u5366_input:disabled {
  color:grayText;
}
#u5367 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:35px;
  width:168px;
  height:41px;
}
#u5367_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:41px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5367_input {
  font-family:'Microsoft YaHei';
}
#u5367_input:disabled {
  color:grayText;
}
#u5368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5368 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:36px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5369 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u5370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5370 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:35px;
  width:220px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5371 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  word-wrap:break-word;
}
