body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1085px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1085px;
  height:59px;
  background:inherit;
  background-color:rgba(39, 155, 208, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1085px;
  height:59px;
}
#u2673 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:1081px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u2674 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:12px;
  width:101px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u2675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u2676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2676 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:19px;
  width:91px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u2677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2678 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:18px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2680 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:173px;
  width:668px;
  height:180px;
}
#u2681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
}
#u2681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u2682 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u2683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
}
#u2683 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:0px;
  width:111px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u2684 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  word-wrap:break-word;
}
#u2685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:26px;
}
#u2685 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:0px;
  width:138px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u2686 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:134px;
  word-wrap:break-word;
}
#u2687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:26px;
}
#u2687 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:0px;
  width:150px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u2688 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:146px;
  word-wrap:break-word;
}
#u2689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
}
#u2689 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:0px;
  width:91px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u2690 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:87px;
  word-wrap:break-word;
}
#u2691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:26px;
}
#u2691 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:0px;
  width:115px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u2692 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u2693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:52px;
}
#u2693 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:26px;
  width:58px;
  height:52px;
}
#u2694 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:54px;
  word-wrap:break-word;
}
#u2695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:52px;
}
#u2695 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:26px;
  width:111px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
}
#u2696 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:52px;
}
#u2697 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:26px;
  width:138px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
}
#u2698 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:134px;
  word-wrap:break-word;
}
#u2697_ann {
  border-width:0px;
  position:absolute;
  left:293px;
  top:26px;
  width:1px;
  height:1px;
}
#u2699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:52px;
}
#u2699 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:26px;
  width:150px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2700 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u2701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u2701 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:26px;
  width:91px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2702 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:87px;
  word-wrap:break-word;
}
#u2703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:52px;
}
#u2703 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:26px;
  width:115px;
  height:52px;
}
#u2704 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:50px;
}
#u2705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:78px;
  width:58px;
  height:50px;
}
#u2706 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:54px;
  word-wrap:break-word;
}
#u2707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:50px;
}
#u2707 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:78px;
  width:111px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
}
#u2708 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:50px;
}
#u2709 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:78px;
  width:138px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
}
#u2710 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:134px;
  word-wrap:break-word;
}
#u2711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u2711 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:78px;
  width:150px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2712 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u2713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:50px;
}
#u2713 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:78px;
  width:91px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2714 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:87px;
  word-wrap:break-word;
}
#u2715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:50px;
}
#u2715 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:78px;
  width:115px;
  height:50px;
}
#u2716 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:47px;
}
#u2717 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:128px;
  width:58px;
  height:47px;
}
#u2718 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:54px;
  word-wrap:break-word;
}
#u2719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:47px;
}
#u2719 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:128px;
  width:111px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
}
#u2720 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:47px;
}
#u2721 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:128px;
  width:138px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
}
#u2722 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:134px;
  word-wrap:break-word;
}
#u2723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:47px;
}
#u2723 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:128px;
  width:150px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2724 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u2725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:47px;
}
#u2725 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:128px;
  width:91px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2726 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:87px;
  word-wrap:break-word;
}
#u2727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:47px;
}
#u2727 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:128px;
  width:115px;
  height:47px;
}
#u2728 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2729 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:84px;
  width:57px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2730 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:856px;
  height:2px;
}
#u2731 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:114px;
  width:855px;
  height:1px;
}
#u2732 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:851px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2733 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:123px;
  width:78px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2734 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  word-wrap:break-word;
}
#u2733_ann {
  border-width:0px;
  position:absolute;
  left:122px;
  top:119px;
  width:1px;
  height:1px;
}
#u2735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
}
#u2735 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:215px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
}
#u2736 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2735_ann {
  border-width:0px;
  position:absolute;
  left:652px;
  top:211px;
  width:1px;
  height:1px;
}
#u2737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
}
#u2737 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:215px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
}
#u2738 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
}
#u2739 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:263px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
}
#u2740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2739_ann {
  border-width:0px;
  position:absolute;
  left:638px;
  top:259px;
  width:1px;
  height:1px;
}
#u2741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
}
#u2741 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:263px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
}
#u2742 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2743_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
}
#u2743 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:315px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
}
#u2744 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
}
#u2745 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:315px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
}
#u2746 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:35px;
}
#u2747 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:205px;
  width:92px;
  height:34px;
}
#u2748 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:35px;
}
#u2749 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:256px;
  width:92px;
  height:34px;
}
#u2750 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:35px;
}
#u2751 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:308px;
  width:92px;
  height:34px;
}
#u2752 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
