body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:966px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:966px;
  height:529px;
}
#u5357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:966px;
  height:529px;
}
#u5358 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:256px;
  width:962px;
  visibility:hidden;
  word-wrap:break-word;
}
