body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:411px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:1367px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:1367px;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:676px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
