body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:508px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:1690px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:1690px;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:837px;
  width:504px;
  visibility:hidden;
  word-wrap:break-word;
}
