body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:962px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:976px;
  height:641px;
}
#u5339 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:0px;
  width:976px;
  height:641px;
}
#u5340 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:972px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
}
#u5341 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:122px;
  width:129px;
  height:38px;
}
#u5342 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:49px;
}
#u5343 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:117px;
  width:138px;
  height:49px;
}
#u5344 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:36px;
}
#u5345 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:124px;
  width:77px;
  height:36px;
}
#u5346 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5347 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:132px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
