body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:499px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:273px;
  width:48px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:887px;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:499px;
  height:887px;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:436px;
  width:495px;
  visibility:hidden;
  word-wrap:break-word;
}
