body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-14px;
  width:3027px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:732px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:0px;
  width:411px;
  height:732px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:358px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:731px;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:1562px;
  top:0px;
  width:411px;
  height:731px;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:358px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:731px;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:2039px;
  top:0px;
  width:411px;
  height:731px;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:358px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:731px;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:2630px;
  top:-13px;
  width:411px;
  height:731px;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:358px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:1128px;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:411px;
  height:1128px;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:556px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:731px;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:0px;
  width:411px;
  height:731px;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:358px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:545px;
  width:343px;
  height:110px;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:47px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:1045px;
  width:121px;
  height:110px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:47px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:1707px;
  top:345px;
  width:121px;
  height:110px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:47px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:1232px;
  top:519px;
  width:121px;
  height:110px;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:47px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:2329px;
  top:58px;
  width:121px;
  height:76px;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u441_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:185px;
  height:31px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:2450px;
  top:90px;
  width:170px;
  height:5px;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u443_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:185px;
  height:31px;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:1838px;
  top:398px;
  width:170px;
  height:5px;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u445_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:185px;
  height:31px;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:1424px;
  top:589px;
  width:170px;
  height:5px;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u447_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:135px;
  height:31px;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:598px;
  width:120px;
  height:5px;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:1082px;
  width:0px;
  height:0px;
}
#u449_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:164px;
  height:8px;
}
#u449_seg1 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:-422px;
  width:8px;
  height:426px;
}
#u449_seg2 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:-427px;
  width:20px;
  height:20px;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:-139px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
