body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1085px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1085px;
  height:59px;
  background:inherit;
  background-color:rgba(39, 155, 208, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3956 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1085px;
  height:59px;
}
#u3957 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:1081px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u3958 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:12px;
  width:101px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u3959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u3960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u3960 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:19px;
  width:91px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u3961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u3962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3962 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:18px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3964 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:175px;
  width:959px;
  height:117px;
}
#u3965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u3965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u3966 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  word-wrap:break-word;
}
#u3967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:26px;
}
#u3967 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:0px;
  width:92px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u3968 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u3969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:26px;
}
#u3969 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:0px;
  width:240px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u3970 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:236px;
  word-wrap:break-word;
}
#u3971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
}
#u3971 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:0px;
  width:111px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u3972 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  word-wrap:break-word;
}
#u3973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:26px;
}
#u3973 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:0px;
  width:136px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u3974 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:132px;
  word-wrap:break-word;
}
#u3975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:26px;
}
#u3975 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:0px;
  width:136px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u3976 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:132px;
  word-wrap:break-word;
}
#u3977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:26px;
}
#u3977 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:0px;
  width:163px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u3978 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:159px;
  word-wrap:break-word;
}
#u3979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:29px;
}
#u3979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:26px;
  width:76px;
  height:29px;
}
#u3980 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u3981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:29px;
}
#u3981 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:26px;
  width:92px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
  text-align:left;
}
#u3982 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u3983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:29px;
}
#u3983 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:26px;
  width:240px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
  text-align:left;
}
#u3984 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:236px;
  word-wrap:break-word;
}
#u3985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:29px;
}
#u3985 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:26px;
  width:111px;
  height:29px;
}
#u3986 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:107px;
  word-wrap:break-word;
}
#u3987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:29px;
}
#u3987 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:26px;
  width:136px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3988 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:132px;
  word-wrap:break-word;
}
#u3989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:29px;
}
#u3989 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:26px;
  width:136px;
  height:29px;
}
#u3990 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u3991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:29px;
}
#u3991 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:26px;
  width:163px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CC0000;
}
#u3992 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:159px;
  word-wrap:break-word;
}
#u3993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u3993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:55px;
  width:76px;
  height:30px;
}
#u3994 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:72px;
  word-wrap:break-word;
}
#u3995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u3995 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:55px;
  width:92px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
  text-align:left;
}
#u3996 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u3997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u3997 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:55px;
  width:240px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
  text-align:left;
}
#u3998 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:236px;
  word-wrap:break-word;
}
#u3999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u3999 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:55px;
  width:111px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4000 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:107px;
  word-wrap:break-word;
}
#u4001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u4001 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:55px;
  width:136px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4002 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:132px;
  word-wrap:break-word;
}
#u4003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u4003 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:55px;
  width:136px;
  height:30px;
}
#u4004 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u4005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u4005 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:55px;
  width:163px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CC0000;
}
#u4006 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:159px;
  word-wrap:break-word;
}
#u4007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:27px;
}
#u4007 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:76px;
  height:27px;
}
#u4008 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:72px;
  word-wrap:break-word;
}
#u4009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:27px;
}
#u4009 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:85px;
  width:92px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
  text-align:left;
}
#u4010 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:88px;
  word-wrap:break-word;
}
#u4011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:27px;
}
#u4011 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:85px;
  width:240px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#279BD0;
  text-align:left;
}
#u4012 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:236px;
  word-wrap:break-word;
}
#u4013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:27px;
}
#u4013 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:85px;
  width:111px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4014 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:107px;
  word-wrap:break-word;
}
#u4015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:27px;
}
#u4015 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:85px;
  width:136px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4016 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:132px;
  word-wrap:break-word;
}
#u4017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:27px;
}
#u4017 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:85px;
  width:136px;
  height:27px;
}
#u4018 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:132px;
  word-wrap:break-word;
}
#u4019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:27px;
}
#u4019 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:85px;
  width:163px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CC0000;
}
#u4020 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:159px;
  word-wrap:break-word;
}
#u4022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4022 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:315px;
  width:51px;
  height:20px;
  color:#999999;
}
#u4023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u4024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4024 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:315px;
  width:89px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4025 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u4026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4026 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:310px;
  width:30px;
  height:30px;
  color:#999999;
}
#u4027 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u4028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4028 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:310px;
  width:30px;
  height:30px;
  color:#999999;
}
#u4029 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u4030_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(39, 155, 208, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4030 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:310px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u4031 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u4032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4032 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:310px;
  width:30px;
  height:30px;
  color:#999999;
}
#u4033 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u4034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4034 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:310px;
  width:30px;
  height:30px;
  color:#999999;
}
#u4035 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u4036_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4036 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:134px;
  width:78px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4037 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  word-wrap:break-word;
}
#u4038_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4038 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:84px;
  width:227px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4039 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  white-space:nowrap;
}
#u4040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:856px;
  height:2px;
}
#u4040 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:114px;
  width:855px;
  height:1px;
}
#u4041 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:851px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4042 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:125px;
  width:333px;
  height:505px;
}
#u4042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:505px;
}
#u4042_ref {
  border-width:0px;
  position:absolute;
  left:610px;
  top:620px;
  width:1px;
  height:1px;
}
#u4043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4043 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:142px;
  width:10px;
  height:16px;
}
#u4044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
