body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:970px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:534px;
}
#u5283 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:534px;
}
#u5284 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:260px;
  width:966px;
  word-wrap:break-word;
}
