body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:868px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:711px;
}
#u1332 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:711px;
}
#u1333 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:348px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:711px;
}
#u1334 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:0px;
  width:400px;
  height:711px;
}
#u1335 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:348px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
