body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:868px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:711px;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:711px;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:348px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:711px;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:0px;
  width:400px;
  height:711px;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:348px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
